<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.projectstalker"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/icon">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".ProjectStalker"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login"
                  android:label="@string/login_title"/>
        <activity android:name=".AddProject"
                  android:label="@string/add_project_title"/>
        <activity android:name=".ProjectList"/>
        <activity android:name=".Map"/>
        <activity android:name=".SignUp"
                  android:label="@string/signup_title"/>
        <activity android:name=".AddComment"
                  android:label="@string/add_comment_title"/>
        <activity android:name=".ProjectDetails"
                  android:label="@string/project_details_title"/>
        <service android:name=".PositionTracker"
                 android:enabled="true"/>
    </application>
</manifest>
